html{ 
  scroll-behavior: smooth;
  font-family: 'MontSerrat', sans-serif;
}

body{ 
  margin: 0; 
}

/*The background of the navbar */
.navbackground{
    background: #252525;
    padding: 8px 16px;
    position: fixed; 
    width: 100%;
    height: 74px;   
    box-sizing: border-box; 
    z-index: 1 !important; 
}

/*The text actually in the navbar*/ 
.navbar{
  display: flex;
  height: 58px; 
  align-items: center;
  width: 100%;  
}

/*Equal space per element in navbar*/
.navbar div { 
  flex: 1 1 0; 
}
.hb-outer{ 
  display: none; 
}
/*Joe's name in the navbar*/
.logo{
    color: #f5f5f5;
    text-align:center;
    margin: auto 1.5vw; 

}

.logo h2{
    font-size: 1.7rem;
    cursor: pointer;
    margin:0; 
}
.logo p{ 
  margin: 0; 
  margin-bottom: 12px; 
}
  
/*Formatting of links on the navbar*/
div.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: right;
}
div.nav-links ul li{
    margin: 0vw 1.5vw;
}
div.nav-links ul li:first-child,li:last-child{ 
  margin-left: -28px; 
}
div.nav-links ul li a{
    color: white;
    text-decoration: none;
    position: relative; 
    text-transform: uppercase;
    font-size: 9pt;
    display: inline-block; 
    line-height: 15px; 
}
/*Animations for nav links*/
ul.links li a:hover{
    color: #69a9f2;
    border-bottom-style: solid; 
    border-bottom-width: .6px; 
    border-bottom-color: #69a9f2;
    /* font-size: 11pt; */
    transition: transform 0.3s ease-out;  
    transform: scale(1.3); 
    line-height: 15px; 
}

/*Formatting for the art*/
.digArt, .tradArt{ 
  padding: 2px; 
  padding-top: 80px; 
  padding-left: 10px; 
  display: flex; 
  flex-wrap: wrap; 
}
.digArt img, .tradArt img { 
  width: 100%;   
  height: 100%; 
  box-sizing: border-box; 
  padding-top: 10px; 
  padding-right: 10px; 
  transition: filter 0.4s; 
} 
.digArt img:hover, 
.tradArt img:hover { 
  filter: brightness(50%);  
  cursor: pointer; 
}

/*Modal stuff*/ 
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 15vh 3%; 
  left: 0;
  right: 0; 
  top: 0;
  width: 94%; 
  height: 70vh; 
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modalImage {
  display: block; 
  margin: auto; 
  width: 100%; 
  max-width: 1200px;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #69a9f2;
  cursor: pointer;
}

/*About section */
.about, .contact{ 
  margin: 200px 7vw; 
  display: flex; 
  flex-direction: column; 
  padding-top: 100px; 
  /*Debugging line */
  /* border: blue 1px solid;  */
}

.picContainer, .pp{ 
  margin: auto; 
  max-width: 900px;

}

.profPic{ 
  width: 100%; 
  -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.64); 
  box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.64);
}

.pp p{ 
  font-size: 13pt; 

}

/*Contact section*/ 
.bg { 
  width: 100%; 
  box-sizing: border-box;
  background-color:#252525;
}
.contact { 
  margin-top: 0; 
  margin-bottom: 0; 
  padding-bottom: 50px; 
}
.contact *{ 
  box-sizing: border-box; 
  max-width: 900px;  
  margin: auto;
  color: white; 
}
.cp { 
  width: 100%; 
  margin-bottom: 25px; 
}

fieldset{
  border: none;
  padding: 0;  
}

form{ 
  width: 100%; 
}

input[type=text], input[type=email], #message{ 
  padding: 10px; 
  border-radius: 10px; 
  border: 1px solid black; 
  width: 100%; 
  margin: 10px 0; 
}

.sub { 
  color: black; 
}



.socials { 
  display: flex;
  justify-content: center;  
  height: 30px; 
  padding-bottom: 50px; 
}

.ig { 
  height: 100%;  
}
@media screen and (max-width: 800px){ 
  .imgWrap { 
    flex-basis: 100% !important;
  }

  .imgWrap img { 
  }
}

/*Phone implementation */ 
@media screen and (max-width: 600px){ 
  .navbar { 
    height: 58px;  
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between;  
  }

  .block { 
    display: block; 
    position: fixed; 
    background: #252525;
    width: 100%; 
    height: 74px; 
    z-index: -1; 
    left: 0; 
  }

  .logo { 
    text-align: left;
    margin: 0 1.5vw;  
  }
  /*Make other elements of navbar invisible */ 
  .navbar .nav-links,.navbar > div:nth-child(4){ 
    flex-grow: 0; 
  }

  /*Hamburger menu*/ 
  .hb-outer { 
    display: inline-block; 
  }
  .hb-container {
    display: inline-block; 
    cursor: pointer;
    float: right; 
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  div.nav-links .links{
    top: -300px; 
    flex-direction: column;
    /* height: 150px;  */
    position: fixed; 
    right: 0; 
    left: 0; 
    background-color: #252525;
    padding: 0; 
    margin: 0; 
    width: 100%; 
    z-index: -2; 
    justify-content: center; 
  }

  @keyframes appear{
    0%{
      top: -300px; 
    }
    100%{
      top: 74px;
    }
  }
  @keyframes disappear { 
    0%{ 
      top: 74px; 
    }
    100%{ 
      top: -300px; 
    }
  }
  
  .link{ 
    margin: 0 !important;
    padding: 15px 30px;  
    height: 30px; 
  }

  .alink { 
    display: block;
    width: 100%;
    height: 100%; 
    top: -15px; 
    margin-left: -30px; 
    padding: 15px 30px;  
    /*this is what vertically centers the text in the anchor tag*/
    line-height: 30px !important; 
  }

  .alink:hover { 
    background-color: white; 
    transition: ease-in-out .3s !important; 
    border-bottom-style: none !important; 
    transform: none !important; 
  }
}