html{ 
  scroll-behavior: smooth;
  font-family: 'MontSerrat', sans-serif;
  height: 100%;
}
body{ 
  background-color:rgb(235, 236, 245);
  margin: 0; 
  height: 100%; 
}

/*The background of the navbar */
.navbackground{
  position: fixed; 
  max-width: 250px;
  width: 20vw; 
  height: 100%;    
  box-sizing: border-box; 
  z-index: 1 !important; 
  background-color: white; 
}

/*The text actually in the navbar*/ 
.navbar{
  box-sizing: border-box; 
  display: flex;
  flex-direction: column; 
  width: 100%; 
  height: 100%; 
  margin: auto; 
  padding-top: 30px; 
}

/*Equal space per element in navbar*/
/* .navbar div { 
  flex: 1 1 0; 
} */
.hb-outer{ 
  display: none; 
}
/*Joe's name in the navbar*/
.logo{
  margin-bottom: 40px; 
}
.logo img { 
  width: 100%; 
  margin:auto; 
}
.logo p{ 
  margin: 0; 
  margin-bottom: 12px; 
}
  
/*Formatting of links on the navbar*/
div.nav-links ul{
    list-style: none;
    display: flex;
    flex-direction: column; 
    justify-content: right;
    margin: auto; 
    padding: 0;  
}
div.nav-links ul li a{
  color: black; 
  text-decoration: none;
  position: relative; 
  text-transform: uppercase;
  font-size: 9pt;
  display: inline-block; 
  line-height: 15px; 
}
.link { 
  padding: 10px 0; 
}
/*Animations for nav links*/
ul.links li a:hover{
  color: #69a9f2;
  border-bottom-style: solid; 
  border-bottom-width: .6px; 
  border-bottom-color: #69a9f2;
  /* font-size: 11pt; */
  transition: transform 0.3s ease-out;  
  transform: scale(1.3); 
  line-height: 15px; 
}

/*social section of navbar*/
.nav-links, .socials { 
  width: 70%; 
  margin: 0 auto; 
}
.socials { 
  display: flex; 
  margin-top: 20px; 
} 
.ig img{ 
  height: 20px; 
}
/*Formatting for the art*/
.artWrap, .about, .bg{ 
  margin-left: 250px; 
  background-color: rgb(235, 236, 245);
}
.digArt, .tradArt{ 
  padding-top: 30px; 
  padding-left: 10px;  
  display: flex; 
  flex-wrap: wrap; 
}
.digArt img, .tradArt img { 
  width: 100%;   
  height: 100%; 
  box-sizing: border-box; 
  padding-bottom: 10px; 
  padding-right: 10px; 
  transition: filter 0.4s; 
} 
.digArt img:hover, 
.tradArt img:hover { 
  filter: brightness(50%);  
  cursor: pointer; 
}

/*Modal stuff*/ 
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 15vh 3%; 
  left: 0;
  right: 0; 
  top: 0;
  width: 94%; 
  height: 70vh; 
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modalImage {
  display: block; 
  margin: auto; 
  width: 100%; 
  max-width: 1200px;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #69a9f2;
  cursor: pointer;
}

/*About section */
.contact{ 
  margin: 0 7vw; 
  display: flex; 
  flex-direction: column; 
  padding-top: 100px; 
}
.about{ 
  height: 100%; 
}
.card{ 
  box-sizing: border-box;
  display: flex; 
  justify-content: center; 
  max-width: 900px;
  margin: 0 auto; 
  height: 100%; 
  max-height: 1200px; 
}
.column {  
  display: flex; 
  flex-direction: column; 
  padding: 40px 30px;
  flex: 1 1 0; 
  height: 85%; 
}
.column div{
  box-sizing: border-box; 
  width: 100%; 
  overflow: hidden; 
  margin: auto; 
}
.column div img { 
  width: 100%;
  height: auto;
  margin: 10px 0; 
}
.blurb { 
  position: fixed; 
  width: 30vw; 
  max-width: 400px; 
  flex: 0;  
  top: 29%; 
  left: 45%; 
  background:white; 
  padding: 10px; 
}
.picContainer, .pp{ 
  margin: auto; 
  max-width: 900px;
}

.profPic{ 
  width: 100%; 
  -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.64); 
  box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.64);
}

.pp p{ 
  font-size: 13pt; 
}

/*Contact section*/ 
.bg { 
  box-sizing: border-box;
  height: 100%; 
}
.contact { 
  margin-top: 0; 
  margin-bottom: 0; 
  padding-bottom: 50px; 
}
.contact *{ 
  box-sizing: border-box; 
  max-width: 900px;  
  margin: auto;
  color: black;  
}
.cp { 
  width: 100%; 
  margin-bottom: 25px; 
}

fieldset{
  border: none;
  padding: 0;  
}

form{ 
  width: 100%; 
}

input[type=text], input[type=email], #message{ 
  padding: 10px; 
  border-radius: 10px; 
  border: 1px solid black; 
  width: 100%; 
  margin: 10px 0; 
}

.sub { 
  color: black; 
}

#fs-frm-inputs input, #fs-frm-inputs textarea { 
  color: black; 
}
@media screen and (max-width: 1238px){ 
  .artWrap, .about, .bg{ 
    margin-left: 20vw; 
    height: 100%; 
  }
}
@media screen and (max-width: 900px){ 
  .imgWrap { 
    flex-basis: 100% !important;
  }
  .about { 
    height: unset; 
    display: flex; 
    flex-direction: column;  
  }
  .card { 
    width: 60%; 
    margin-top: 50px; 
  }
  .column{  
    height: 100%; 
    padding: 0; 
    flex: unset; 
  }
  .blurb { 
    width: 60%;
    box-sizing: border-box; 
    position: static; 
    margin: 30px auto;  
  }
  .mainImg{
    margin: 0 auto !important; 
  }

  .card .column:nth-child(2){ 
    display: none; 
    width: 100%; 
  }
}

/*Phone implementation */ 
@media screen and (max-width: 650px){ 
  .navbackground { 
    width: 100%; 
    max-width: 100%; 
    height: 70px;
    z-index:1 !important; 
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.44); 
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.44);
    top: 0; 
  }
  .navbar { 
    align-items: center;  
    padding: 6px 10px; 
    height: 70px; 
    display: flex;
    flex-direction: row;  
    width: 100%; 
    flex-wrap: nowrap; 
    justify-content: space-between;  
    background: white; 
  }
  .navbar div { 
    flex: 1 1 0; 
  }
  .block { 
    display: block; 
    position: fixed; 
    background: #252525;
    width: 100%; 
    height: 74px; 
    z-index: -1; 
    left: 0; 
  }
 .logo{ 
    height: 100%; 
    margin-bottom: 0; 
  }
  .logo img { 
    height: 100%; 
    width: auto; 
  }

  .socials { 
    margin-top: 0; 
  }

  .ig{ 
    display: flex; 
    justify-content: center; 
  }
  .ig img { 
    height: 15px; 
  }
  /*Make other elements of navbar invisible */ 
  .navbar .nav-links{ 
    flex-grow: 0; 
  }

  /*Hamburger menu*/ 
  .hb-outer { 
    display: inline-block; 
  }
  .hb-container {
    display: inline-block; 
    cursor: pointer;
    padding: 5px; 
    float: right; 
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: rgb(139, 146, 151);
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
  }

  div.nav-links .links{
    top: -300px; 
    flex-direction: column;
    position: fixed; 
    right: 0; 
    left: 0; 
    background-color:white; 
    padding: 0; 
    margin: 0; 
    width: 100%; 
    z-index: -2; 
    justify-content: center; 
  }

  @keyframes appear{
    0%{
      top: -300px; 
    }
    100%{
      top: 70px;
    }
  }
  @keyframes disappear { 
    0%{ 
      top: 70px; 
    }
    100%{ 
      top: -300px; 
    }
  }
  
  .link{ 
    margin: 0 !important;
    padding: 15px 30px;  
    height: 30px; 
  }

  .alink { 
    display: block;
    width: 100%;
    height: 100%; 
    top: -15px; 
    margin-left: -30px; 
    padding: 15px 30px;  
    /*this is what vertically centers the text in the anchor tag*/
    line-height: 30px !important; 
  }

  .alink:hover { 
    background-color: white; 
    transition: ease-in-out .3s !important; 
    border-bottom-style: none !important; 
    transform: none !important; 
  }

  .artWrap { 
    margin-top: 70px; 
    margin-left: 0; 
  }
  .about, .bg{ 
    margin: 0; 
    padding-top: 70px; 
  }
  .card, .blurb { 
    width: 75%; 
  }
}